node_modules/
dist/
build/
.env
.env.local
.DS_Store
__pycache__/
*.pyc
venv/
.venv/
coverage/
.vscode/
.idea/
CMD_FOR_RUN
E-TENDER INJECTION.pdf
GeM-Bidding-9596366.pdf
uploads/
logs/
error.txt
BID.pdf
TENDER.pdf
